<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
  <title>Capansis Authentication</title>
	<%= stylesheet_link_tag('style') %>
	<%= javascript_include_tag(:defaults) %>
</head>

<body>
	
	<div id="header">
		<h1>Capansis Authentication for <%= @authenticated_site.domain %></h1>
	
		<ul>
			<li><%= link_to "Send Invitation", new_account_path %></li>
			<li><%= link_to "List Accounts", accounts_path %></li>
			<li><%= link_to "Edit Site Options", edit_site_path('options') %></li>
		</ul>
	</div>
	
	<% if flash[:notice] %>
		<div id="flash">
			<%= flash[:notice] %> <%= link_to_function "Hide", hide_flash %>
		</div>
	<% end %>
	
	<div id="content">
		<%= yield %>
	</div>

</body>