<h2>Editing Account</h2>

<fieldset>
	<legend>Account</legend>

	<% form_for @account do |f| %>

		<%= f.error_messages %>

		<%= f.label :email_address %><br />
		<%= f.text_field :email_address %><br />

		<%= f.label :password %><br />
		<%= f.password_field :password, :value => '' %><br />

		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation, :value => '' %><br />
		
		<br />
		
		<%= submit_tag "Update" %>

	<% end %>
	
</fieldset>
