<h2>Listing Accounts</h2>

<table id="accounts">
	
	<tr>
		<th>Email Address</th>
		<th width="200px">Created</th>
		<th width="100px">Activated?</th>
		<th width="100px">Banned?</th>
	</tr>
	
	<% for account in @accounts %>
	
	<tr id="account_<%= account.id %>">
		<td><%= link_to account.email_address, edit_account_path(account) %>
		<td><%= account.created_at.to_s(:standard) %></td>

		<td>
			<span id="activate_account_<%= account.id %>" <%= 'style="display: none;"' if account.activated? %>>
				No <%= link_to_remote "Activate", :url => formatted_activate_account_path(account, :js), :method => :put %>
			</span>

			<span id="activated_account_<%= account.id %>" <%= 'style="display: none;"' unless account.activated? %>>
				Yes
			</span>
		</td>

		<td>
			<span id="ban_account_<%= account.id %>" <%= 'style="display: none;"' if account.banned? %>>
				No <%= link_to_remote "Ban", :url => formatted_ban_account_path(account, :js), :method => :put %>
			</span>

			<span id="unban_account_<%= account.id %>" <%= 'style="display: none;"' unless account.banned? %>>
				Yes <%= link_to_remote "Un-Ban", :url => formatted_unban_account_path(account, :js), :method => :put %>
			</span>
		</td>
	</tr>
	
	<% end %>
	
</table>

<div id ="pagination">	
	<%= link_to "all", accounts_path %>
	
  <% letter_options.each do |letter| %>
    <% if params[:letter] == letter %>
      <span class="current"><%= letter %></span>
    <% else %>
      <%= link_to letter, accounts_path(:letter => letter)%>
    <% end %>
  <% end %>

	Showing <%= @accounts.size %> out of <%= @authenticated_site.accounts.size %> accounts
</div>